<%- include("partials/header.ejs") %>
<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        
        <h1>Rick and Morty Characters</h1>
        <div class="col-md-6">

        <div class="form">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control form-input" placeholder="Search anything...">          
        </div>
        
      </div>
      
    </div>
    
  </div>
  <% if(locals.data){ %>
    <div class="center">
        <div class="article-card">
          <div class="content">
            <p class="date">Jan 1, 2022</p>
            <p class="title"><%= data %></p>
          </div>
          <img src="https://images.unsplash.com/photo-1482877346909-048fb6477632?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=958&q=80" alt="article-cover" />
        </div>
      
        <div class="article-card">
          <div class="content">
            <p class="date">Jan 1, 2022</p>
            <p class="title"><%= data %></p>
          </div>
          <img src="https://images.unsplash.com/photo-1482877346909-048fb6477632?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=958&q=80" alt="article-cover" />
        </div>
    </div>
<% } %> 